doctype html
html(lang="en" data-theme="garden").h-full
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css' rel='stylesheet' type='text/css')
        script(src='https://cdn.tailwindcss.com')
        script(src="https://cdn.jsdelivr.net/npm/mermaid@9.3.0/dist/mermaid.min.js")
        title Text2Diagram | Generate diagram using AI
    body.h-full(x-data="app" x-init="$watch('messages', () => {$refs.mermaid.removeAttribute('data-processed');mermaid.init(undefined, $refs.mermaid);});")
        .flex.flex-col.h-full
            .navbar.bg-primary.text-primary-content
                .flex-1
                    a.btn.btn-ghost.normal-case.text-xl Text2Diagram
                    | Generate diagram using AI
                .flex-none
                    ul.menu.menu-horizontal.px-1
                        li
                            a(href="https://www.buymeacoffee.com/aschelch", title="Buy me a coffee") <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="white" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 9v-1.382c.87 0 2-.697 2-1.618h12.039c0 .922 1.092 1.618 1.961 1.618v1.382h-1l-2 15h-10l-2.02-15h-.98zm11.793 9h-7.592l.534 4h6.53l.528-4zm-8.793-9l.534 4h8.918l.528-4h-9.98zm3.309-3.691c2.819-2.143-.594-2.353.077-3.868-2.361 2.113.85 2.169-.077 3.868zm2.486-.001c4.236-3.238-.877-3.067.105-5.308-3.382 2.895 1.259 2.959-.105 5.308z"/></svg>
                                span(class="hidden md:flex") Buy me a coffee
                        li
                            a(href="https://github.com/aschelch/text2diagram", title="Github") <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                                span(class="hidden md:flex") Github
            .grow.flex.flex-col(class="lg:container md:mx-auto")
                .grow.p-5
                    .chat.chat-start
                        .chat-bubble.chat-bubble-secondary 
                            | Hello 👋 <br>
                            | I'm a chatbot that can create class diagrams, state diagrams, mindmaps, gant...
                            | Please describe me the diagram you want me to generate for you 🤓<br>
                    template(x-for="m in messages")
                        div
                            .chat.chat-end(x-show="m.role=='user'")
                                .chat-bubble.chat-bubble-primary(x-text="m.content")
                            .chat.chat-start(x-show="m.role=='assistant'")
                                .chat-bubble.chat-bubble-secondary
                                    pre.mermaid(x-text='m.content' x-ref="mermaid")
                            .chat.chat-start(x-show="m.role=='error'")
                                .chat-bubble.chat-bubble-error(x-text='m.content')
                .grow-0.flex.p-5
                    textarea.textarea.textarea-bordered.grow(placeholder="Sequence diagram between Alice and Bob talking", x-model="text", row=3)
                    button.btn.btn-primary.ml-5(@click="generate" x-bind:aria-busy="generating" x-html="generating?'Generating...':'Generate'")
            
            footer.footer.footer-center.p-4.bg-primary.text-primary-content
                div
                    p Made with <span style="color:red">❤️</span> by <a href="https://twitter.com/aschelch" class="font-bold">@aschelch</a> from <a class="font-bold" href="https://orelfactory.fr?ref=text2diagram">OrelFactory</a>
                    script(type='text/javascript' src='https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js' data-name='bmc-button' data-slug='aschelch' data-color='#FFDD00' data-emoji data-font='Cookie' data-text='Buy me a coffee' data-outline-color='#000000' data-font-color='#000000' data-coffee-color='#ffffff')
            
        script(src="app.js")
        script(src="//unpkg.com/alpinejs") 
